
<div class="d-flex mb-3" id="page-top">
    <div class="">
        <!-- Sidebar -->
        <!-- <app-sidebar></app-sidebar> -->
        <!-- End of Sidebar -->
    </div>
    <div class="flex-grow-1">
        <div style="min-height: 100vh;  margin-bottom: -50px; ">
            <app-top-bar></app-top-bar>
            <div style="padding-bottom: 50px;">
                <router-outlet></router-outlet>
            </div>
            <!-- Scroll to Top Button-->
            <a class="scroll-to-top rounded bg-theme" href="#page-top">
                <i class="fas fa-angle-up"></i>
            </a>
        </div>

        <!-- Footer -->
        <footer class="bg-light shadow pt-3" style="height: 50px; margin-top: -5Opx;">
            <div class="containgmail.comer my-auto">
                <div class="copyright text-center my-auto">
                    Développé par <a href="https://www.sawki.net" target="_blank" style="color: #FF4500 !important">Aratech</a>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->
    </div>
</div>
    