 
<nav class="navbar navbar-expand  navbar-light bg-white topbar mb-4 sticky-top shadow">
    <!-- Sidebar brqnd (Topbar) -->
    <a class="navbar-brand" [routerLink]="['/admin']"><span style="color: #FF4500;">ARA</span>LIVRAISON</a>
    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <!-- Topbar Search -->
    <form
        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
        <div class="input-group">
            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-theme" type="button">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div> 
    </form>

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">

        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
        <li class="nav-item dropdown no-arrow d-sm-none">
            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
            </a>
            <!-- Dropdown - Messages -->
            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small"
                            placeholder="Search for..." aria-label="Search"
                            aria-describedby="basic-addon2">
                        <div class="input-group-append" style="background-color: #662B91 !important;">
                            <button class="btn btn-theme" type="button" style="background-color: #662B91 !important;">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </li>

            <!-- Nav Item - Messages -->
            <li class="nav-item dropdown no-arrow mx-1">
                <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                    <i class="fas fa-plus fa-fw rounded-circle bg-theme" style="color: white; height:32px; width:32px; tex-align: center; padding: 9px;"></i>
                </a>
                <!-- Dropdown - Messages -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                    aria-labelledby="messagesDropdown">
                    <!-- <h6 class="dropdown-header">
                        Message Center
                    </h6> -->
                    <a class="dropdown-item nav-link" routerLink="add-livraison">
                        <i class="fas fa-cogs fa-sm fa-fw mr-2"></i>
                        Livraison
                    </a>
    
                    <a class="dropdown-item nav-link" routerLink="add-depenses">
                        <i class="fas fa-list fa-sm fa-fw mr-2"></i>
                        Dépenses
                    </a>
                </div>
            </li>

        <!-- Nav Item - Alerts -->
        <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <!-- <i class="fas fa-bell fa-fw"></i> -->
                <i class="fas fa-eye fa-fw rounded-circle bg-theme" style="color: white; height:32px; width:32px; tex-align: center; padding: 9px;"></i>
                <!-- Counter - Alerts -->
                <!-- <span class="badge badge-danger badge-counter">3+</span> -->
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="messagesDropdown">
                <!-- <h6 class="dropdown-header">
                    Message Center
                </h6> -->
                <a class="dropdown-item nav-link" routerLink="livraisons">
                    <i class="fas fa-list fa-sm fa-fw mr-2"></i>
                    Liste de livraisons
                </a>

                <a class="dropdown-item nav-link" routerLink="clients">
                    <i class="fas fa-list fa-sm fa-fw mr-2"></i>
                    Liste de clients
                </a>

                <a class="dropdown-item nav-link" routerLink="depenses">
                    <i class="fas fa-list fa-sm fa-fw mr-2"></i>
                    Liste de depenses
                </a>

                <a class="dropdown-item nav-link" routerLink="compagnies">
                    <i class="fas fa-bus fa-sm fa-fw mr-2"></i>
                   Compagnies Partenaires
                </a> 
            </div>
            <!-- Dropdown - Alerts -->
            <!-- <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                    Alerts Center
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="mr-3">
                        <div class="icon-circle bg-primary">
                            <i class="fas fa-file-alt text-white"></i>
                        </div>
                    </div>
                    <div>
                        <div class="small text-gray-500">December 12, 2019</div>
                        <span class="font-weight-bold">A new monthly report is ready to download!</span>
                    </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="mr-3">
                        <div class="icon-circle bg-success">
                            <i class="fas fa-donate text-white"></i>
                        </div>
                    </div>
                    <div>
                        <div class="small text-gray-500">December 7, 2019</div>
                        $290.29 has been deposited into your account!
                    </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="mr-3">
                        <div class="icon-circle bg-warning">
                            <i class="fas fa-exclamation-triangle text-white"></i>
                        </div>
                    </div>
                    <div>
                        <div class="small text-gray-500">December 2, 2019</div>
                        Spending Alert: We've noticed unusually high spending for your account.
                    </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
            </div> -->
        </li>

        <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                <i class="fas fa-cog fa-fw rounded-circle bg-theme" style="color: white; height:32px; width:32px; tex-align: center; padding: 9px;"></i>
            </a>
            <!-- Dropdown - Messages -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="messagesDropdown">
                <!-- <h6 class="dropdown-header">
                    Message Center
                </h6> -->
                <a class="dropdown-item nav-link" routerLink="users">
                    <i class="fas fa-user fa-sm fa-fw mr-2"></i>
                    Utilisateurs
                </a>

                
                <a class="dropdown-item nav-link" routerLink="livreurs">
                    <i class="fas fa-users fa-sm fa-fw mr-2"></i>
                    Livreurs
                </a>

                <a class="dropdown-item nav-link" routerLink="mat-roulants">
                    <i class="fas fa-list fa-sm fa-fw mr-2"></i>
                    Matériels roulants
                </a>                
                
                <a class="dropdown-item nav-link" routerLink="services">
                    <i class="fas fa-bus fa-sm fa-fw mr-2"></i>
                   Services (Dépenses)
                </a>
            </div>
        </li>

        <div class="topbar-divider d-none d-sm-block"></div>

        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span *ngIf="connectedUser" class="mr-2 d-none d-lg-inline text-gray-600 small">
                    {{ connectedUser.nom }} {{ connectedUser.prenom }}
                </span>
                <img class="img-profile rounded-circle"
                    src="../assets/img/undraw_profile.svg">
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="userDropdown">
                <a class="dropdown-item nav-link" [routerLink]="['users']">
                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-600"></i>
                    Edition de mon compte
                </a>
                <a class="dropdown-item nav-link"  (click)="onLogout()" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-600"></i>
                    Se deconnecter
                </a>
                <!-- <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
                    <div class="dropdown-divider"></div>
                    <li class="nav-item">
                        <a href="/profile" class="nav-link" routerLink="profile">profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="dropdown-item nav-link"  (click)="logout()" data-toggle="modal" data-target="#logoutModal">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            Se deconnecter
                        </a>
                    </li>
                </ul> -->
            </div>
        </li>

    </ul>

</nav>